.btnByDay{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;}
.btnByDay:hover {background-color: cornflowerblue;}
.btnByDay.dayOff{background: tomato;}
.btnByDay.dayOff:hover{background-color: red;}
.titleHours{
    margin-top: calc(100% / 4);
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 700;
}
.btnByDay p{color: black;}